body {
  background-color: teal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

span {
  position: absolute;
  padding-top: 12px;
  padding-left: 8px;
}

.menu-primary {
  display: flex;
  justify-content: center;

  height: 40px;
  margin: 0;
  padding-top: 12px;

  background-color: aliceblue;
  list-style: none;
}

.menu-primary li {
  width: 25vh;
  cursor: pointer;
}

.menu-primary li:hover {
  color: teal;
}

/*Toggle Menus*/
.menu-clients ul {
  padding-left: 20px;
  border-bottom: solid 1px teal;
  width: 150px;
}

.menu-services ul {
  padding-left: 20px;
  border-bottom: solid 1px teal;
  width: 150px;
}

.menu-clients ul li {
  list-style: none;
  margin-top: 8px;
}

.menu-services ul li {
  list-style: none;
  margin-top: 8px;
}

/*Responsive*/

@media only screen and (max-width: 600px) {
  body {
    background-color: aliceblue;
  }
  .menu-primary li {
    display: none;
  }

  #icon-home {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .menu-primary {
    display: flex;
    justify-content: center;

    height: 10px;
    margin: 0;
    padding-top: 12px;

    background-color: teal;
    list-style: none;
  }
}

@media only screen and (min-width: 601px) {
  #icon-home {
    display: none;
  }
  #icon-menu {
    display: none;
  }

  .menu-primary {
    width: 100%;
  }
  .menu-clients ul {
    position: absolute;
    top: 40px;
    width: 550px;
    margin-left: 20px;
    text-align: center;
    border-bottom: solid 1px teal;
  }

  .menu-services ul {
    position: absolute;
    text-align: right;
    top: 40px;
    width: 470px;
  }

  .menu-clients ul li {
    margin-top: 4px;
    cursor: pointer;
  }

  .menu-clients ul li:nth-child(2) {
    margin-left: 44px;
  }

  .menu-clients ul li:hover {
    color: aliceblue;
  }

  .menu-services ul li {
    margin-top: 4px;
    cursor: pointer;
  }

  .menu-services ul li:hover {
    color: aliceblue;
  }
}

@media only screen and (min-width: 768px) {
  #icon-home {
    display: none;
  }
  #icon-menu {
    display: none;
  }

  .menu-clients ul {
    position: absolute;
    top: 40px;
    background-color: blueviolet;
    margin-left: 10px;
    text-align: center;
    border-bottom: solid 1px teal;
  }

  .menu-services ul {
    background-color: aqua;
    position: absolute;
    text-align: right;
    top: 40px;
  }

  .menu-clients ul li {
    margin-top: 4px;
    cursor: pointer;
  }

  .menu-clients ul li:hover {
    color: aliceblue;
  }

  .menu-services ul li {
    margin-top: 4px;
    cursor: pointer;
  }

  .menu-services ul li:hover {
    color: aliceblue;
  }
}
